<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- Añadimos enlace a la pregunta en la página de entrada -->
    <p> El portal donde crear algún juego</p>
    <p> <a href="quizes/question">Comience a jugar</a></p>
  </body>
</html>
